.RichEditor-root {
  width: 600px;
    background: #fff;
    border: 1px solid #ddd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    padding: 15px;
    margin: auto;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 200px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
    text-align:left;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #3c71dd;
    font-weight: bold;
  }

  .do-button {
    position:relative;
    float:right;
    top:-25px;
    margin-right: 10px;
    color: #999;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    cursor: pointer;
  }

  .show-html {
    width: 600px;
    /* text-align: center; */
    margin: auto;
    text-align: left;
  }

  .control-icon {
    margin-bottom: -5px;
  }

  .control-icon-underline {
    margin-bottom: -5px;
  }

  .show-raw-html {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    min-height: 100px;
  }

  #html-box {
    margin-top: 15px;
    margin-bottom: 15px;
  }