.App {
  text-align: center;
}


h6 {
  display: block;
  font-size: 2.2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300!important;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
font-weight: 400!important;
}

p, li {
  font-weight: 300;
}

li {
  font-size: 17px;
}

p {
  font-size: 18px;
  letter-spacing: 0.005em;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: blue;
}


#para {
  text-align: left;
  margin:auto;
  padding: 10px;
  width: 600px;
}

.show-para {

}

code {
  white-space: pre;
}

.edit-paragraph-button {
  margin: 15px 15px 15px 15px;
}



@media only screen and (max-width: 650px) {
#para {
  width: 300px;
}
}

#up-button {
  position: fixed;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  opacity: 0.7;
}
#up-button:hover {
  color:rgb(36, 67, 92);
}
@media only screen and (max-width: 990px) {
  #up-button {
    bottom: 70px;
    color: rgb(57, 106, 147);
  }
}
@media only screen and (min-width: 990px) {
  #up-button {
    bottom: 100px;
    color: rgb(126, 170, 205);
  }
}

.delete-paragraph {
  color: red;
}