.App {
  text-align: center;
}

#para {
  text-align: left;
  margin:auto;
  padding: 10px;
  width: 600px;
}

.show-para {
  border: 2px solid grey;
  border-radius: 10px;
}

code {
  white-space: pre;
}

.edit-paragraph-button {
  margin: 15px 15px 15px 15px;
}



@media only screen and (max-width: 650px) {
#para {
  width: 300px;
}
}